.background, .experience, .skills {
    margin: 0 30px;    
}

.background img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}


.experience img {
    width: 100%;
}

.skills img {
    width: 40%;
}

